/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

#banner {
    background-image: url(banner.png);
    width: 100%;
    background-repeat: no-repeat;
}

.main {
    width: 50%;
    float: left;
    margin: auto;
    height: 300px;
    display: table;
}

:moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

:selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
    display: inline-block;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
}


/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 0;
    z-index: 11;
}

.header-container, .footer-container, .main aside {
    background: #000000;
}

.title {
    color: #1b1c20;
}


/*======================================
=            VMMS customize            =
======================================*/

.col-6 {
    width: 50%;
    float: left;
}

@media (max-width: 1198px) {
    .col-6 {
        width: 100%;
    }
}


/* VMMS logo */



.navlogo img {
    width: auto;
}



.move-logo .navlogo {
    position: fixed;
    /* top: 180px;
    width: 220px;
    height: auto;
    left: 50%;
    margin-left: -110px; */
}


/* VMMS slider */

#slider {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.3);
    height: 400px;
    overflow: hidden;
    width: 98%;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

#slider ul {
    position: relative;
    padding: 0;
}

#slider ul li {
    position: absolute;
    list-style-type: none;
    width: 100%;
    top: 0;
    left: 0;
}

#slider ul li p {
    margin: 10px 25px;
    font-weight: semi-bold;
    line-height: 150%;
    max-width: 90%;
    color: white;
}


/* Social section */

#social {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 50px;
    width: 98%;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}

#social p {
    width: 80%;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

#social img {
    display: inline-block;
    width: 12%;
}


/*===================================
=            Responsive             =
===================================*/

@media (max-width: 480px) {
    /* .navlogo {
        margin-left: -75px;
        width: 150px; 
        /top: 350px; 
    }
    .navlogo img {
        width: 60%;
    }
    .move-logo .navlogo {
        top: 160px;
        width: 140px;
        margin-left: -70px;
    }  */
    #slider {
        width: 80%;
        margin: 0 auto;
        height: 400px;
    }
    #slider ul li p {
        font-size: 14px;
        margin: 10px auto;
        max-width: 80%;
    }
    #social {
        width: 80%;
        padding: 25px;
        margin: 25px auto;
        float: none;
    }
    #social p {
        font-size: 16px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    #social img {
        display: block;
        width: 40%;
        margin: 10px auto;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* .navlogo {
        margin-left: -90px;
        width: 180px;
    }
    .move-logo .navlogo {
        margin-left: -80px;
        top: 165px;
        width: 160px;
    } */
    #slider {
        width: 80%;
        margin: 0 auto;
        height: 400px;
    }
    #slider ul li p {
        font-size: 18px;
        margin: 10px auto;
        max-width: 80%;
    }
    #social {
        width: 80%;
        padding: 25px;
        margin: 25px auto;
        float: none;
    }
    #social p {
        font-size: 18px;
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    #social img {
        display: block;
        width: 30%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    /* .navlogo {
        margin-left: -110px;
        width: 220px;
    }
    .move-logo .navlogo {
        margin-left: -80px;
        top: 165px;
        width: 160px;
    } */
    #slider {
        width: 80%;
        margin: 0 auto;
        height: 300px;
    }
    #slider ul li p {
        font-size: 21px;
        margin: 0 auto;
        max-width: 80%;
    }
    #social {
        width: 80%;
        padding: 25px;
        margin: 25px auto;
        float: none;
    }
    #social p {
        font-size: 20px;
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    #social img {
        display: block;
        width: 20%;
        margin: 0 auto;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
	.navlogo {
    position: fixed;
    top: 60px;
    left: 0;
}
.navlogo img {
    position: relative!important;
    height:100px!important;
}
}
@media (min-width: 700px) and (max-width: 1199px) {
.navlogo {
    position: fixed;
    top: 73px;
    left: 0;
}

.navlogo img {
    position: relative!important;
    height: auto!important;
}
}

@media (max-width: 1199px) {
.navlogo img {
z-index: 999;
}
}


@media (min-width: 1200px) {
.navlogo {
    position: absolute;
    height: auto;
    top: 800px;
    left: calc(50% - 250px);
    opacity: 1;
    transition: width 0.4s;
    z-index: 11;
}
.navlogo img[src*='logonav.png'] {
    width: auto;
    height: 80% !important;
    margin-left: 5%;
}
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0 2px;
    padding: 0;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media only screen and (max-width: 700px) {
    nav ul {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .dropdown {
        display: none;
    }
}


/* Float the list items side by side */

ul li {
    float: left;
}

nav a {
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background: #000000;
}

nav a:hover, nav a:visited {
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
    color: #79caf9
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}

.main article h1 {
    font-size: 0.5em;
}

* {
    box-sizing: border-box;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

p {
    margin: auto;
    max-width: 70%;
    font-size: 24px;
    letter-spacing: 2px;
}

@media (max-width: 600px) {
    /* CSS that should be displayed if width is equal to or less than 600px goes here */
    p {
        margin: auto;
        max-width: 80%;
        font-size: 20px;
    }
    /* ===============
    ALL: IE Fixes
   =============== */
    .ie7 .title {
        padding-top: 20px;
    }
    /* ==========================================================================
   Author's custom styles
   ========================================================================== */
    .logo {
        display: block;
        margin: 0 auto 15px;
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    /* Style The Dropdown Button */
    .dropbtn {
        color: #ffffff;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
    }
    div {
        border: none;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        background-color: black;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ffffff
    }
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #ffffff;
    }
    /* End of Dropdown Menu */
    /* ==========================================================================
   Media Queries
   ========================================================================== */
    @media only screen and (min-width: 480px) {
        /* ====================
    INTERMEDIATE: Menu
   ==================== */
        nav a {
            float: right;
            margin: 0 1.7%;
            padding: 25px 2%;
            margin-bottom: 0;
        }
        nav li:first-child a {
            margin-left: 0;
        }
        nav li:last-child a {
            margin-right: 0;
        }
        /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
        nav ul li {
            display: inline;
        }
        .oldie nav a {
            margin: 0 0.7%;
        }
    }
    @media only screen and (min-width: 768px) {
        /* ====================
    WIDE: CSS3 Effects
   ==================== */
        /* ============
    WIDE: Menu
   ============ */
        nav {
            float: right;
            width: 38%;
        }
        /* ============
    WIDE: Main
   ============ */
        .main article {
            float: left;
            width: 50%;
        }
        .main aside {
            float: right;
            width: 28%;
        }
    }
    @media only screen and (min-width: 1140px) {
        /* ===============
    Maximal Width
   =============== */
        .wrapper {
            width: 1026px;
            /* 1140px - 10% for margins */
            margin: 0 auto;
        }
    }
    /* ==========================================================================
   Helper classes
   ========================================================================== */
    .hidden {
        display: none !important;
        visibility: hidden;
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 0px;
    }
    .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    .invisible {
        visibility: hidden;
    }
    .clearfix:before, .clearfix:after {
        content: " ";
        display: block;
    }
    .clearfix:after {
        clear: both;
    }
    .clearfix {
        *zoom: 1;
    }
    /* ==========================================================================
   Print styles
   ========================================================================== */
    @media print {
        *, *:before, *:after {
            background: transparent !important;
            color: #000 !important;
            box-shadow: none !important;
	    text-shadow: none !important;
        }
        a, a:visited {
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
        a[href^="#"]:after, a[href^="javascript:"]:after {
            content: "";
        }
        pre, blockquote {
            border: 0;
            page-break-inside: avoid;
        }
        thead {
            display: table-header-group;
        }
        tr, img {
            page-break-inside: avoid;
        }
        img {
            max-width: 100% !important;
        }
        p, h2, h3 {
            orphans: 3;
            widows: 3;
        }
        h2, h3 {
            page-break-after: avoid;
        }
    }
}

.custom-widget {
    padding: 20px;
    font-size: ;
}

.custom-widget h4 {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.custom-widget article {
    width: 20%;
    display: inline-block;
}

.custom-widget .more-link {
    display: block;
}

@media(min-width: 480px) {}
